<section class="signup">
    <form class="frm_signup frm" on-submit="signup">
        <div class='frm_control'>
            <p>
                <label for="email">Email</label>
                <input id="email" type="email" value="{{email}}"/>
            </p>
        </div>
        <div class='frm_control'>
            <p>
                <label for="password">Password</label>
                <input id="password" type="password" value="{{password}}"/>
            </p>
        </div>
        <div class='frm_control'>
            <p>
                <button class="btn" type="submit">Signup</button>
            </p>
        </div>
    </form>
</section>
