<app-header/>
<section class="app">
    <div class="wrap" id="{{page}}">
        {{#if page == 'SIGNUP'}}
            <app-signup-form/>
        {{else}}
            <app-phonebook-list/>
        {{/if}}
    </div>
</section>
<app-footer/>