<app-header/>

<section class="main_content main_content--fullwidth">
	<div class='container'>
		{{#signed}}	
			<nav class="nav--primary">			
				<ul class="nav--dash">
					<li class="nav--dash__item"><a href="#" on-click="@.fire('goto', 'HOME')">Home</a></li>
					<li class="nav--dash__item"><span>/</span></li>
					<li class="nav--dash__item"><a href="#" on-click="@.fire('goto', 'SIGNOUT')">Sign out</a></li>
				</ul>
			</nav>

			{{#if page == 'HOME'}}
				<div class="filter--simple">
					<input  class="filter--simple__keyword" type='text' placeholder='Enter your keyword' value="{{searchBy}}"/>
				</div>
			{{/if}}	
		{{/signed}}

		{{#if page == 'SIGNIN'}}
			<app-signin-form/>
		{{elseif page == 'SIGNOUT'}}
			<app-signout-form/>
		{{elseif page == 'ADD'}}
			<app-add-new-form/>
		{{else}}
			<app-phonebook-list searchBy="{{searchBy}}"/>
		{{/if}}
	</div>

	{{#signed}}
		<a class="btn btn--circle is-fixed_on_bottom" href="#" on-click="@.fire('goto', 'ADD')">+</a>
	{{/signed}}
</section>
<app-footer/>