<section class="signup">
    <form class="frm_signup" on-submit="signup">
        <p>
            <label for="email">Email</label>
            <input id="email" type="text" value="{{email}}"/>
        </p>
        <p>
            <label for="password">Password</label>
            <input id="password" type="password" value="{{password}}"/>
        </p>
        <p>
            <button type="submit">Signup</button>
        </p>
    </form>
</section>
