<section>    
    <h4>Are you sure ?</h4>
    <p>A good-bye is never painful unless you’re never going to say hello again.</p>
    <button on-click="confirm">Yes</button>
    <button class="button button-outline" on-click="cancel">No</button>        
</section>