.contact
    &--card
        margin-bottom: $space
        padding: $space-xs
        border-top: 2px solid $color-highlight
        background-color: $color-border

        &__box
            display: flex

        &__line
            font-size: 15px
            line-height: 18px
            margin-bottom: 5px

        &__avatar
            width: 64px
            height: 64px
            margin-right: $space-xs
        
        &__summary
            flex-grow: 1

        &__excerpt
            margin-bottom: 0