<section class="contact_list--card">
    {{#items}}
        {{^isHide}}
            <article class="person">
                <h3>{{name}}</h3>
                <div class="person__detail">
                    <div>
                        <img src="{{avatar(_id)}}"/>
                    </div>
                    <div>                    
                        <p>Phone: {{phone}}</p>
                        <p>Email: <a href="mailto:{{email}}">{{email}}</a></p>                    
                        <p>Address: {{address}}</p>
                    </div>
                </div>
                <p>{{about}}</p>         
            </article>
        {{/isHide}}
    {{/items}}
</section>