<section class="contacts">
    {{#items}}
        {{^isHide}}
            <article class="contact contact--card">
                <h3 class="contact--card__name">{{name}}</h3>
                <div class="contact--card__box">
                    <div class="contact--card__avatar avatar--square">
                        <img class="avatar--square__image" src="{{avatar(_id)}}"/>
                    </div>
                    <div class="contact--card__summary">                    
                        <p class="contact--card__line">Phone: {{phone}}</p>
                        <p class="contact--card__line">Email: <a href="mailto:{{email}}">{{email}}</a></p>                    
                        <p class="contact--card__line">Address: {{address}}</p>
                    </div>
                </div>
                <p class="contact--card__excerpt">{{about}}</p>         
            </article>
        {{/isHide}}
    {{/items}}
</section>