
@import 'normalize-scss/sass/_normalize';
@include normalize();
@import 'sweetalert2/src/sweetalert2.scss';
@import 'milligram/src/milligram.sass';
@import url('https://unpkg.com/@icon/themify-icons/themify-icons.css');

@import './_palette'
@import './_mixins'

@import url('https://fonts.googleapis.com/css?family=Jomolhari|Staatliches&display=swap');

@import '../js/app'

h1, h2, h3, h4, h5, h6
    font-family: $font-heading

body
    background-color: $color-bg
    padding: 0
    font-family: $font-text

a
    color: $color-link
    transition: 0.25s
    &:hover
        color: $color-hover

.filter
    &--simple
        &__keyword
            margin-bottom: $space

.nav    
    &--dash
        @include clearfix()
        list-style: none
        display: flex
        border-bottom: 2px solid $color-highlight

        &__item
            margin-right: 5px


.btn
    &--circle 
        display: block
        height: $space-md
        width: $space-md   
        background-color: $color-highlight
        color: $color-light
        border-radius: 50%
        overflow: hidden
        text-align: center
        line-height: $space-md 
        
        &.is-fixed_on_bottom
            position: fixed            
            bottom: $space-sm
            right: $space-sm
