<section class="add-new">
    <form class="frm_add_new" on-submit="save">
        <p>
            <label for="name">Name</label>
            <input id="name" type="text" value="{{name}}"/>
        </p>
        <p>
            <label for="email">Email</label>
            <input id="email" type="email" value="{{email}}"/>
        </p>
        <p>
            <label for="phone">Phone</label>
            <input id="phone" type="phone" value="{{phone}}"/>
        </p>
        <p>
            <label for="address">Address</label>
            <input id="address" type="text" value="{{address}}"/>
        </p>
        <p>
            <label for="about">About</label>
            <textarea id="about">{{about}}</textarea>
        </p>
        <p>
            <button class="btn" type="submit">Submit</button>
        </p>
    </form>
</section>