<section class='add-new'>
    <form class='frm_add_new frm' on-submit='submit'>
        <div class='frm_control'>
            <p>
                <label for='name'>Name</label>
                <input id='name' type='text' value='{{name}}'/>      
            </p>
            <app-error errors='{{errors.name}}'/>
        </div>
        <div class='frm_control'>
            <p>
                <label for='email'>Email</label>
                <input id='email' type='email' value='{{email}}'/>
            </p>
            <app-error errors='{{errors.email}}'/>
        </div>
        <div class='frm_control'>
            <p>
                <label for='phone'>Phone</label>
                <input id='phone' type='phone' value='{{phone}}'/>
            </p>
            <app-error errors='{{errors.phone}}'/>
        </div>
        <div class='frm_control'>
            <p>
                <label for='address'>Address</label>
                <input id='address' type='text' value='{{address}}'/>
            </p>
            <app-error errors='{{errors.address}}'/>
        </div>
        <div class='frm_control'>
            <p>
                <label for='about'>About</label>
                <textarea id='about'>{{about}}</textarea>
            </p>
        </div>
        <div class='frm_control'>                        
            <button class='btn' type='submit'>Submit</button>
        </div>
    </form>
</section>