<footer class="footer footer--bg">
    <div class="container">
        <p class="copyright--mixed">Made with <img class="copyright--mixed__icon" src="/images/heart.svg"/> ft. cafein!</p>
    </div>
</footer>
