.footer
    padding: 15px
    color: $color-light
    background-color: $color-footer

    p
        padding-bottom: 0
        line-height: 24px
        margin: 0

    img
        display: inline-block
        width: 13px
        height: 13px